.accTable-body{
  
}
#accTable {
    th{
        text-transform: uppercase;
       
    }
    td{
        padding: 10px;
    }
    .account-action{
        color: white;
        cursor: pointer;
    }
}

