:root{
    --width-sidebar: 250px;
}
body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.grid__nav{
    padding: 0 10px;
    padding-top: 10px;
}

i{
    cursor: pointer;
}

#breadcrumb{
    font-weight: 600;
}

// @media screen and (max-width: 992px) {

//     .side__bar{
//          width: 70px;
//     }
// }

.newPro__logo{
    height: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPro__logo img{
    width: 80px;
    height: 80px;
    object-fit: fill;
}

.newPro__logo span{
    font-size:200%;
    font-weight: 700;
    margin-top: 20px;
    background: #756D75;
    background: -webkit-linear-gradient(to top, #756D75 50%, #000000 0%);
    background: -moz-linear-gradient(to top, #756D75 50%, #000000 0%);
    background: linear-gradient(to top, #756D75 50%, #000000 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



//display:

.show{
    display: block;
}

.none{
    display: none;
}

.flex{
    display: flex;
}