
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 145); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 20, 46); 
  }
.LYAF-block-content .col{
    padding: 0;
}
.LYAF-side-bar{
    z-index: 10;
    width: 250px;
    height: 100%;
    left: -180px;
    top: 0;
    position: fixed;
    background-color: #1E1E2D;
    transition: 0.5s;
    overflow-y:auto;
}

.LYAF-side-bar .LYAF-side-bar-header{
    width: 250px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    color: white;
    background-color: #1B1B28;
}

.LYAF-side-bar .LYAF-side-bar-header i{
    font-size: 25px;
}

.LYAF-side-bar .LYAF-side-bar-header span{
    font-size: 20px;
}

.LYAF-side-bar .LYAF-side-bar-menu{	
    position:relative;
    top: 100px;
    padding-bottom: 25px;
}
.LYAF-side-bar-menu .LYAF-menu{
    color: rgb(183, 183, 185);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.LYAF-side-bar-menu .LYAF-menu-header{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
}
.LYAF-side-bar-menu .LYAF-menu .title{
    position: relative;
    left: 0;
    margin-left: 20px;
}

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-header .icon{
    width: 30px;
    position: relative;
    left: 0;
    font-size: 25px;
    transition: 0.5s;
}

.LYAF-side-bar-menu .LYAF-menu .end{
    position: absolute;
    right: 20px;
    transition: 0.5s;
}

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-option{
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
}
.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content{
    display: none;
}
.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content .LYAF-menu-option{
    padding: 25px;
    padding-left: 35px;
}

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content .LYAF-menu-option .icon{
    font-size: 10px;
}

.LYAF-dasboard-body{
    position: relative;
    left: 0;
    padding-left: 70px;
    background-color: #F5F8FA;
    transition: 0.5s;
}

.LYAF-dasboard-body .LYAF-dashboard-header{
    z-index: 9;
    width: 100%;
    padding: 15px;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 50px 1px #F5F8FA;
}

.LYAF-dasboard-body .row{
    margin: 0;
}

.LYAF-dasboard-body .LYAF-dashboard-content{
    padding-top: 60px;
    padding-bottom: 60px;
}

.LYAF-dasboard-body .LYAF-dashboard-header span{
    font-size: 20px;
}

.LYAF-dasboard-body .LYAF-dashboard-block{
    margin: 15px;
    padding: 20px;
    background-color: white;
    margin-bottom: 25px;  
    border-radius: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .splide__slide{
    margin: 10px;
    box-shadow: 1px 1px 10px 1px rgb(168, 168, 168);
    border-radius: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .splide__track{
    padding: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .splide__slide img {
	width : 200px;
    height: auto;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-block-title{
    font-size: 20px;
}
.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-block-content{
    margin: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .description{
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px dashed #b8b8b8;
    border-radius: 10px;
    color: rgb(100, 100, 100);
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-image{
    display: flex;
    flex-direction: row;
}

.LYAF-dasboard-body .LYAF-dashboard-block .insert-image{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-name,
.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-description{
    display: flex;
    flex-direction: column;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-name span,
.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-description span{
    margin-bottom: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-name input{
    padding: 10px;
    border: 2px dashed #b8b8b8;
    outline-width: 2px;
    outline-color: #b8b8b8;
    margin-bottom: 10px;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-product-description textarea{
    min-height: 100% !important;
}
.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-tooltip{
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    border: #1E1E2D;
    background-color: #b8b8b8;
    display: none;
}

.LYAF-dasboard-body .LYAF-dashboard-block .LYAF-preview-wrapper .image-upload{
    z-index: 3;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.LYAF-preview-wrapper {
    display:flex;
    flex-direction: row;
    width: 800px;
}

.LYAF-preview-wrapper .list-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.LYAF-preview-wrapper .list-title .title-info{
    display:flex;
    flex-direction: column;
}

.LYAF-preview-wrapper .list-title .title{
    font-size: 16px;
    margin-bottom: 5px;
}

.LYAF-preview-wrapper .list-title .info{
    font-size: 13px;
    color: #b8b8b8;
}
.LYAF-preview-wrapper .list-title .add-image{
    position: relative;
    font-size: 11px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
    transition: 0.3s;
    cursor: pointer;
}

.LYAF-preview-wrapper .list-title .add-image *{
    cursor: pointer;
}

.LYAF-preview-wrapper .list-title .add-image:hover,
.LYAF-preview-wrapper .list-title .remove-image:hover{
    background-color: rgb(187, 187, 187);
}


.LYAF-preview-wrapper .LYAF-image-preview{
    touch-action: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin: 10px;
    animation: move 0.5s ease-out;
}

@-webkit-keyframes move {
    0% {margin-top: 42px;}
   100% {margin-top: 2px;}
}

@keyframes move {
    0% {margin-top: 42px;}
   100% {margin-top: 2px;}
}


.LYAF-preview-wrapper .LYAF-image-preview:nth-child(even){
    background-color: #e0e0e0;
}

.LYAF-preview-wrapper .LYAF-image-preview img{
    width: 100px;
    margin-right: 20px;
}

.LYAF-preview-wrapper .LYAF-image-preview .image-name{
    width: 80%;
}

.LYAF-preview-wrapper .LYAF-image-preview .remove-image-btn i{
    width: 20%;
    font-size: 15px;
    transition: 0.2s ease-out;
}

.LYAF-preview-wrapper .LYAF-image-preview .remove-image-btn{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.LYAF-preview-wrapper .LYAF-image-preview .remove-image-btn:hover{
    background-color: #b8b8b8;
}

#hr-in-image-supplement{
    display:none;
    height:1px; 
    width:100%; 
    border-width:0; 
    color:rgb(214, 214, 214); 
    background-color:rgb(214, 214, 214)
}
.LYAF-preview-wrapper .LYAF-image-preview .image-name {
    font-size: 13px;
  }

.LYAF-preview-container,
.LYAF-remove-container{
    width: 100%;
}

.LYAF-preview-list,
.LYAF-remove-list{
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.LYAF-thumbnail-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LYAF-thumbnail-input .thumbnail-upload-holder {
    cursor: pointer;
    height: 300px;
    width: 270px;
    border: 2px dashed #cbd9ca;
    border-radius: 10px;
    background-color: #f0f6f2;
    background-image: url(https://file4.batdongsan.com.vn/images/opt/bg-upload-image.png);
    background-position: center center;
    background-repeat: no-repeat;

    margin: 20px;
    position: relative;

    display: flex;
    justify-content: center;
}

// .LYAF-dasboard-body .LYAF-dashboard-block .insert-image .image-upload-holder {
//     position: absolute;
//     left: 0;
//     top: 0;
//     border-radius: 10px;
//     z-index: 2;
//     padding-top: 10px;
//     height: 100%;
//     width: 100%;
//     border: 2px dashed #cbd9ca;
//     background-color: #f0f6f2;
//     background-image: url(https://file4.batdongsan.com.vn/images/opt/bg-upload-image.png);
//     background-position: center center;
//     background-repeat: no-repeat;
//     cursor: pointer;
//     text-align: center;
// }
.LYAF-thumbnail-input .thumbnail-upload-holder  input{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.LYAF-thumbnail-input .thumbnail-upload-holder  img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: none;
}

.LYAF-thumbnail-input .thumbnail-upload-holder p {
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    
}

.LYAF-category-holder{
    position: relative;
}

.LYAF-advanced-select .LYAF-advanced-option:first-child{
    border-radius: 10px 10px 0 0;
}

.LYAF-select-category{
    background-color: rgb(252, 252, 252);
    display: none;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    position: absolute;
    width: 200px;
}

.LYAF-select-category hr{
    margin:0;
}

.LYAF-select-category #cancel-option{
    text-align: center;
    color: cornflowerblue;
    cursor: pointer;
}

.LYAF-category-selected .product-category{
    display: flex;
    flex-direction: row;
}
.LYAF-category-selected span i{
    margin-left: 10px;
    margin-right: 10px;
}

.LYAF-category-selected span:hover{
    color: rgb(0, 84, 153);
    cursor: pointer;
}


.LYAF-advanced-select .LYAF-advanced-option{
    padding: 10px;
    cursor: pointer;
}

.LYAF-advanced-select .LYAF-advanced-option i{
    margin-right: 10px;
}

.LYAF-advanced-select .LYAF-advanced-option:hover{
    background-color:rgb(214, 214, 214)
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .LYAF-preview-wrapper .LYAF-image-preview img {
      width: 50px;
      height: auto;
    }
    
    #hr-in-image-supplement{
        display:block;
    }

    .LYAF-thumbnail-input {
        display: flex;
        flex-direction: column;
    }

    .LYAF-thumbnail-input .thumbnail-upload-holder{
        width: 100%;
        height: 270px;
    }
    .LYAF-thumbnail-input .thumbnail-upload-holder  img{
        width: 100%;
        height: auto;
    }
  }

  