<div class="LYAF-dashboard-header">
    <span class="text-uppercase font-weight-bold">Product</span>
</div>
<div class="LYAF-dashboard-content">
    <div class="LYAF-product-list">
        <table id="LYAF-list" class="">
            
        </table>
    </div>
    <div class="LYAF-popup-info">
    </div>
</div>