<div class="LYAF-dashboard-header">
    <span class="text-uppercase font-weight-bold">Product</span>
</div>
<div class="LYAF-dashboard-content">

    <div class="aaaa">

    </div>
    <div class="LYAF-product-list">
        <table id="LYAF-list" class="table-striped dt-responsive nowrap"  style="width:100%">
            <div class="LYAF-table-loading"><img src="../img/loading.svg"></div>
        </table>
    </div>
    <div class="LYAF-popup-info">
    </div>
    <div class="LYAF-filter-popup">
    </div>
</div>
<script type="module" src="/js/module/dashboard/ProductList.js"></script>