.LYAF-detail-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  padding-right: 150px;
  padding-left: 150px; }
  .LYAF-detail-container .selected {
    border: 2px solid black; }
  .LYAF-detail-container .sold-out {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); }
    .LYAF-detail-container .sold-out img {
      position: absolute;
      width: auto;
      height: 100%; }
  .LYAF-detail-container .LYAF-image-detail .xzoom-hidden img {
    height: auto; }
  .LYAF-detail-container .LYAF-infor-detail {
    padding: 20px; }
    .LYAF-detail-container .LYAF-infor-detail .option-title {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-bottom: 10px; }
      .LYAF-detail-container .LYAF-infor-detail .option-title #title {
        font-size: 20px; }
      .LYAF-detail-container .LYAF-infor-detail .option-title #line {
        height: 1px;
        background: black;
        width: 100%;
        align-self: flex-end; }
    .LYAF-detail-container .LYAF-infor-detail #name {
      font-weight: 600;
      font-size: 24px;
      font-family: "SVN-Proxima Nova", sans-serif;
      margin-bottom: 20px; }
    .LYAF-detail-container .LYAF-infor-detail #rating {
      display: flex;
      flex-direction: row;
      font-weight: 600;
      margin-bottom: 10px; }
      .LYAF-detail-container .LYAF-infor-detail #rating .asddd {
        display: flex;
        flex-direction: column;
        align-self: flex-end; }
        .LYAF-detail-container .LYAF-infor-detail #rating .asddd .rating-value {
          margin-right: 20px;
          font-size: 13px; }
        .LYAF-detail-container .LYAF-infor-detail #rating .asddd .rating-stars {
          margin-right: 20px; }
      .LYAF-detail-container .LYAF-infor-detail #rating .rating-reviews {
        font-weight: 600;
        text-decoration: underline;
        color: black; }
    .LYAF-detail-container .LYAF-infor-detail #color {
      margin-bottom: 20px; }
      .LYAF-detail-container .LYAF-infor-detail #color .warpper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap; }
        .LYAF-detail-container .LYAF-infor-detail #color .warpper #item {
          position: relative;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 2px;
          background-color: #e9e9e9;
          padding: 2px; }
          .LYAF-detail-container .LYAF-infor-detail #color .warpper #item #image {
            width: 25px;
            height: 25px; }
          .LYAF-detail-container .LYAF-infor-detail #color .warpper #item span {
            font-size: 12px;
            font-weight: 600;
            padding-right: 10px;
            padding-left: 10px; }
    .LYAF-detail-container .LYAF-infor-detail #size {
      margin-bottom: 20px; }
      .LYAF-detail-container .LYAF-infor-detail #size .warpper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap; }
        .LYAF-detail-container .LYAF-infor-detail #size .warpper #item {
          position: relative;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 2px;
          background-color: #e9e9e9;
          padding: 2px; }
          .LYAF-detail-container .LYAF-infor-detail #size .warpper #item img {
            width: 25px;
            height: 25px; }
          .LYAF-detail-container .LYAF-infor-detail #size .warpper #item span {
            font-size: 12px;
            font-weight: 600;
            padding-right: 10px;
            padding-left: 10px; }
    .LYAF-detail-container .LYAF-infor-detail #quantity {
      margin-bottom: 20px; }
      .LYAF-detail-container .LYAF-infor-detail #quantity .warpper {
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        display: flex;
        width: fit-content;
        flex-direction: row;
        align-items: center; }
        .LYAF-detail-container .LYAF-infor-detail #quantity .warpper input {
          -webkit-appearance: textfield;
          -moz-appearance: textfield;
          appearance: textfield;
          padding: 5px;
          width: 50px;
          text-align: center;
          font-weight: 600;
          outline: none;
          border: none;
          text-decoration: underline; }
        .LYAF-detail-container .LYAF-infor-detail #quantity .warpper input::-webkit-inner-spin-button,
        .LYAF-detail-container .LYAF-infor-detail #quantity .warpper input::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .LYAF-detail-container .LYAF-infor-detail #quantity .warpper button {
          border: none;
          background-color: #e9e9e9; }
    .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #price .warpper {
        border: 2px dashed darkgray;
        padding: 10px;
        font-size: 26px; }
        .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #price .warpper #value {
          font-weight: 600; }
        .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #price .warpper #currency {
          font-weight: 600;
          font-size: 20px;
          text-decoration: underline; }
        .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #price .warpper #slash {
          position: relative;
          bottom: -10px;
          font-weight: 600; }
        .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #price .warpper #unit {
          position: relative;
          bottom: -10px;
          font-weight: 600;
          font-size: 16px; }
      .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #add-cart button {
        outline: none;
        padding: 20px;
        background-color: black;
        color: white;
        border: 2px solid black;
        transition: 0.3s;
        font-weight: 600; }
      .LYAF-detail-container .LYAF-infor-detail .LYAF-order-section #add-cart button:hover {
        background-color: white;
        color: black; }
    .LYAF-detail-container .LYAF-infor-detail #description .title {
      font-weight: 600;
      margin-bottom: 20px; }
    .LYAF-detail-container .LYAF-infor-detail #description .warpper {
      padding: 10px;
      border: 1px dashed black; }
