/* width */
::-webkit-scrollbar {
  width: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #919191; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14142e; }

.LYAF-side-bar {
  width: 250px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #1E1E2D;
  transition: 0.5s;
  overflow-y: auto; }

.LYAF-side-bar .LYAF-side-bar-header {
  width: 250px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  color: white;
  background-color: #1B1B28; }

.LYAF-side-bar .LYAF-side-bar-header i {
  font-size: 25px; }

.LYAF-side-bar .LYAF-side-bar-header span {
  font-size: 20px; }

.LYAF-side-bar .LYAF-side-bar-menu {
  position: relative;
  top: 100px;
  padding-bottom: 25px; }

.LYAF-side-bar-menu .LYAF-menu {
  color: #b7b7b9;
  position: relative;
  cursor: pointer;
  transition: 0.3s; }

.LYAF-side-bar-menu .LYAF-menu-header {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: center; }

.LYAF-side-bar-menu .LYAF-menu .title {
  position: relative;
  left: 0;
  margin-left: 20px; }

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-header .icon {
  width: 30px;
  position: relative;
  left: 0;
  font-size: 25px;
  transition: 0.5s; }

.LYAF-side-bar-menu .LYAF-menu .end {
  position: absolute;
  right: 20px;
  transition: 0.5s; }

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-option {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0; }

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content {
  display: none; }

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content .LYAF-menu-option {
  padding: 25px;
  padding-left: 35px; }

.LYAF-side-bar-menu .LYAF-menu .LYAF-menu-content .LYAF-menu-option .icon {
  font-size: 10px; }

.LYAF-dasboard-main {
  margin-left: 100px; }
