.proManager_container {
  display: flex; }

#empty__table td div {
  display: flex;
  justify-content: center; }

.non-empty__table {
  display: none; }

.proTable {
  width: calc(100% - 250px);
  height: 100%; }

.create__product {
  width: 100%;
  height: 100%;
  display: none; }

.create__product_show {
  display: block; }

.table thead tr th {
  width: 19%; }

.table thead tr th:first-child {
  text-align: center;
  width: 5%; }

.table tbody tr th:first-child {
  text-align: center; }

.dropdown__menu {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background-color: #1ab1df;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: inset 1px -4px 32px -11px rgba(43, 43, 43, 0.71);
  cursor: pointer; }

.dropdown__menu span {
  color: white;
  font-weight: bold; }

.dropdown__item {
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #9b9090, 1px 1px 25px -3px #9b9090;
  background-color: white;
  border-radius: 5px;
  bottom: -71px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  z-index: 2; }

.dropdown__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: -12px; }

.dropdown__menu:hover .dropdown__item {
  visibility: visible;
  opacity: 1; }

.dropdown__item .actions {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-bottom: 0; }

.dropdown__item .actions li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer; }

.dropdown__item .actions li:first-child {
  border-radius: 5px 5px 0px 0px; }

.dropdown__item .actions li:hover {
  background-color: #d6360e;
  animation: actions__animation 1s linear infinite; }

.dropdown__item .actions li:first-child:hover {
  background-color: #14b614; }

.dropdown__item .actions li span {
  animation-play-state: unset;
  color: black; }

@keyframes actions__animation {
  0% {
    opacity: 1; }
  40% {
    opacity: 0.8; }
  60% {
    opacity: 0; }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.side__bar {
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Titillium Web', sans-serif;
  transition: width ease-out 0.2s; }

.zoomout__sidebar {
  width: 70px;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 0px 5px 5px 0px;
  font-family: 'Titillium Web', sans-serif;
  transition: width ease-out 0.2s; }

.side__bar--title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px; }

.fa-list {
  margin-top: 5px; }

.side__bar--title-name span {
  transition-delay: animation 2s; }

.side__bar--title-name,
.fa-list {
  font-size: 20px; }

.side__bar--category {
  /* margin-top: 30px; */
  width: 100%;
  display: flex;
  font-size: 18px;
  padding-left: 15px; }

.side__bar--list {
  width: 100%; }

.side__bar--item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
  transition: padding-left 0.5s; }

.side__bar--item span {
  margin-left: 15px; }

.side__bar--item:hover {
  border-radius: 5px;
  background-color: blanchedalmond;
  color: black; }

.side__bar--item:hover {
  padding-left: 10px; }

/* animation */
@keyframes sidebar__name--span {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

.header {
  height: 100px;
  background-color: black; }

.container {
  display: flex;
  padding-top: 15px;
  width: 100%;
  /* background-image: linear-gradient(45deg,rgb(241, 28, 28), rgb(224, 151, 16)); */ }

.product {
  width: calc(100% - var(--width-sidebar) - 70px);
  margin-left: 20px; }

.table {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: width ease-in 0.2s; }

.loader_bg {
  width: 100%;
  height: 100%;
  position: relative; }

.loader {
  position: absolute;
  width: 6%;
  height: 6%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: loader 2s linear infinite; }

@keyframes loader {
  0% {
    transform-origin: 300% 50%;
    transform: rotate(0deg);
    background-color: #f11c1c; }
  50% {
    transform-origin: 300% 50%;
    transform: rotate(360deg);
    background-color: #f11c1c; }
  50.1% {
    transform-origin: -200% 50%;
    transform: rotate(360deg);
    background-color: #e09710; }
  100% {
    transform-origin: -200% 50%;
    transform: rotate(0deg);
    background-color: #e09710; } }

.loader:nth-child(2) {
  animation-delay: 0.2s; }

.loader:nth-child(3) {
  animation-delay: 0.4s; }

.loader:nth-child(4) {
  animation-delay: 0.6s; }

.loader:nth-child(5) {
  animation-delay: 0.8s; }

/* loader__2 */
.table_2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: width ease-in 0.2s;
  display: flex;
  justify-content: center;
  align-items: center; }

.table2 {
  background-color: #024102;
  animation: aniBg 5s linear infinite; }

.table3 {
  /* background-color: rgb(16, 3, 95); */
  background-image: linear-gradient(#b16808, #1d8d07);
  animation: aniBg 5s linear infinite; }

.loader_2 {
  position: relative;
  width: 120px;
  height: 120px; }

@keyframes aniBg {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

.loader_2 .item1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i))); }

.loader_2 .item1::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #08c208;
  box-shadow: 0px 0px 10px #08c208, 0px 0px 20px #08c208, 0px 0px 40px #08c208, 0px 0px 60px #08c208, 0px 0px 80px #08c208, 0px 0px 100px #08c208;
  animation: loader_2 2s linear infinite;
  animation-delay: calc(0.1s * var(--i)); }

.loader_2 .item2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i))); }

.loader_2 .item2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0ce92a;
  box-shadow: 0px 0px 10px #0993b6, 0px 0px 20px #ff0606, 0px 0px 40px #0993b6, 0px 0px 60px #ff0606, 0px 0px 80px #0993b6, 0px 0px 100px #ff0606;
  animation: loader_2 1s linear infinite;
  animation-delay: calc(0.1s * var(--i)); }

@keyframes loader_2 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

/* footer */
.footer {
  height: 90px;
  background-color: black;
  margin-top: 15px; }

/*HSM */
.hsm {
  width: 100%;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 15px; }

.hsm-item {
  width: 800px;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative; }

.hsm-item img {
  height: 100%;
  width: 100%;
  transition: 1s; }

.pagination_btn {
  position: absolute;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 10px;
  left: 300px; }

.pagination_item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #34f304; }

.pagination_item:hover {
  background-color: #0ac20a; }

.zoomout_sidebar-p {
  display: none; }

.zoomout_side__bar--title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50px; }

.create_container {
  height: 1250px;
  background-image: url("/img/create_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.create_title {
  width: 70%;
  height: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 15%;
  top: 3%;
  font-size: 36px; }

.create__form {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px; }

.create__form form {
  width: 80%;
  height: 80%;
  margin-left: 20px; }

.create__form form .form-group {
  margin-bottom: 42px; }

.create__form form .form-group label {
  font-weight: bold; }

#proSaleValueShow {
  transition: transform 0.3s linear;
  transform-origin: 0% -20px; }

.proSaleValueShow {
  transform: scaleY(0); }
