<div class="footer">
    <div class="footer-intro">
        <span style="font-weight: bold;">DOANH NGHIỆP KINH DOANH THỜI TRANG NAM LYAF</span>
        <span>Chuyên kinh doanh các loại thời trang nam sỉ & lẻ</span>
        <span>Free ship với hóa đơn trên 500.000 VND</span>
    </div>
    <div class="footer-detail">
        <span style="font-weight: bold;">Đồng Thưc Hiện</span>
        <span>Phạm Nhật Minh</span>
        <span>Nguyễn Nhật Linh</span>
        <span>Nguyễn Khánh An</span>
    </div>
</div>
<script src="/js/404.js"></script>