<link rel="stylesheet" href="/css/proManager.css">
<div class="LYAF-dashboard-main">
    {{!-- Dashboard navbar --}}
<div class="LYAF-side-bar">
    <div class="LYAF-side-bar-header">
        <span class="LYAF-side-bar-title text-uppercase font-weight-bold">Dasboard</span>
        <i class="fas fa-bars"></i>
    </div>
    <div class="LYAF-side-bar-menu">
        <div class="LYAF-profit-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-hand-holding-usd icon"></i>
                <span class="title">Revenue</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
            </div>
        </div>
        <div class="LYAF-admin-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-user-shield icon"></i>
                <span class="title">Admin</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
            </div>
        </div>
        <div class="LYAF-user-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-users icon"></i>
                <span class="title">User</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
            </div>
        </div>
        <div class="LYAF-staff-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-user-check icon"></i>
                <span class="title">Staff</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
            </div>
        </div>
        <div class="LYAF-product-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fab fa-product-hunt icon"></i>
                <span class="title">Product</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option LYAF-option-active">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">add product</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
                <div class="LYAF-menu-option">
                    <i class="fas fa-circle icon"></i>
                    <span class="title">Revenue</span>
                </div>
            </div>
        </div>
    </div>
</div>
    {{!-- End Dashboard navbar --}}
    {{!-- Dashboard body --}}
 
    <div class="LYAF-dasboard-body">
        <div class="LYAF-dashboard-header">
            <span class="text-uppercase font-weight-bold">ACCOUNT LIST</span>
        </div>
           <div class="LYAF-dashboard-content">
               <div class="accManagerOption">

                <button type="submit" class="btn btn-secondary" id="accDetailAdd" data-toggle="modal" data-target="#accAdd">Thêm Tài khoản</button>
                <div class="filterarea">

                    <select class="form-control" id="filterlist">
                            <option value="admin">Admin</option>
                            <option value="NVVC">Nhân viên vận chuyển</option>
                            <option value="NVĐH">Nhân viên đơn hàng</option>
                            <option value="NVSP">Nhân viên sản phẩm</option>
                            <option value="user">Người dùng</option>
                            <option value="all">Tất cả</option>
                    </select>
                    <button class="btn btn-secondary" id="filterBtn">Lọc theo chức vụ</button>
                </div>
               </div>
               <div class="accTable-body">
                   
                <table id="accTable" class="table-striped dt-responsive nowrap"  style="width:100%">
                </table>
               </div>
            </div>
        
    </div>
    {{!-- End Dashboard body --}}
    
    <!-- Modal -->
    <div class="modal fade" id="accAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">THÊM TÀI KHOẢN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="accAddForm">
                <div class="form-group">
                    <label for="username">Họ và tên:</label>
                    <input type="text" class="form-control" id="accadd-name" value="">
                </div>
                <div class="form-group">
                    <label for="role">Chức vụ:</label>
                        <select class="form-control" id="accadd-role">
                            <option value="admin">Admin</option>
                            <option value="NVVC">Nhân viên vận chuyển</option>
                            <option value="NVĐH">Nhân viên đơn hàng</option>
                            <option value="NVSP">Nhân viên sản phẩm</option>
                            <option value="user">Người dùng</option>
                        </select>
                </div>
            
              
                <div class="form-group">
                    <label for="name">Tài khoản:</label>
                    <input type="text" class="form-control" id="accadd-username"value="">
                </div>
                <div class="form-group">
                    <label for="name">Mật khẩu:</label>
                    <input type="text" class="form-control" id="accadd-pass"value="">
                </div>
                <div class="form-group">
                    <label for="name">Xác nhận mật khẩu:</label>
                    <input type="text" class="form-control" id="accadd-passcheck"value="">
                </div>

   
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-success" id="accAddBtn">Thêm</button>
        </div>
        </div>
    </div>
    </div>
</div>
<script  type="module" src="/js/productManager.js"></script>
<script src="https://cdn.tiny.cloud/1/ycp1l3m6y4usaxn582ylh8wk67s6ze43ttkwlrbrd180idz6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js" integrity="sha512-NgXVRE+Mxxf647SqmbB9wPS5SEpWiLFp5G7ItUNFi+GVUyQeP+7w4vnKtc2O/Dm74TpTFKXNjakd40pfSKNulg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.css" integrity="sha512-gGkweS4I+MDqo1tLZtHl3Nu3PGY7TU8ldedRnu60fY6etWjQ/twRHRG2J92oDj7GDU2XvX8k6G5mbp0yCoyXCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://unpkg.com/dom-autoscroller@2.2.3/dist/dom-autoscroller.js"></script>
<script type="module" src="/js/module/dashboard/Account.js"></script>
