<link rel="stylesheet" href="/css/checkout.css">
<div id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
        </ol>
    </nav>
</div>
<div class="container LYAF-checkout-container">
    <div class="row">
        <div class="col-xs-1-12 col-md-6 left-side">
            <h3 class="font-weight-bold text-uppercase">Thanh toán</h3>
            <hr>
            <h5>Thông tin giao hàng</h5>
            <div class="profile-helper">
            </div>
            <form class="delivery-form">
                <div class="form-group">
                    <label for="name">Họ và tên</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nguyễn Văn A">
                    <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" placeholder="090xxxxx">
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" placeholder="Số nhà / Đường / Khu phố">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="province">Tỉnh / Thành</label>
                        <select class="custom-select mr-sm-2" id="province">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="district">Quận / Huyện</label>
                        <select class="custom-select mr-sm-2" id="district">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="ward">Phường / Xã</label>
                        <select class="custom-select mr-sm-2" id="ward">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </form>
            <h5>Phương thức thanh toán</h5>
            <div class="payment-selection">
                <label class="payment-option" for="COD-option">
                    <div class="payment-infor">
                        <input type="radio" class="radio-selection" id="COD-option" name="radio-stacked" required>
                        <span class="checkmark"></span>
                        <img src="/img/COD-payment.jpg" height="50" width="50">
                        <span class="infor">Thanh toán khi giao hàng (COD) </span>
                    </div>
                    <div class="payment-desc">
                        Bạn sẽ nhận được cuộc gọi khi hàng giao tới
                    </div>
                </label>
                <label class="payment-option" for="MOMO-option">
                    <div class="payment-infor">
                        <input type="radio" class="radio-selection" id="MOMO-option" name="radio-stacked" required>
                        <span class="checkmark"></span>
                        <img src="/img/MOMO-payment.jpg" height="50" width="50">
                        <span class="infor">Thanh toán bằng MOMO (Momo) </span>
                    </div>
                    <div class="payment-desc">
                        
                    </div>
                </label>
            </div>
        </div>
        <div class="col-xs-1-12 col-md-6 right-side">  
            <table class="table LYAF-list-product">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng giá</th>
                </tr>
                <tr class="LYAF-product">
                    <td class="product-property">
                        <img id="thumbnail" src="/img/ANS1001-color-caro-black.jpg" height="70" width="70">
                        <div id="infor">
                            <span id="name" class="font-weight-bold">Áo thun màu đen</span>
                            <span id="property" class="text-uppercase">AO00001-ĐEN-S</span>
                        </div>
                    </td>
                    <td id="quantity">1</td>
                    <td id="unit">100.000<u>đ</u></td>
                    <td id="price">100.000<u>đ</u></td>
                </tr>
                <tr class="LYAF-product">
                    <td class="product-property">
                        <img id="thumbnail" src="/img/ANS1001-color-caro-black.jpg" height="70" width="70">
                        <div id="infor">
                            <span id="name" class="font-weight-bold">Áo thun màu đen</span>
                            <span id="property" class="text-uppercase">AO00001-ĐEN-S</span>
                        </div>
                    </td>
                    <td id="quantity">1</td>
                    <td id="unit">100.000<u>đ</u></td>
                    <td id="price">100.000<u>đ</u></td>
                </tr>
                <tr class="LYAF-product">
                    <td class="product-property">
                        <img id="thumbnail" src="/img/ANS1001-color-caro-black.jpg" height="70" width="70">
                        <div id="infor">
                            <span id="name" class="font-weight-bold">Áo thun màu đen</span>
                            <span id="property" class="text-uppercase">AO00001-ĐEN-S</span>
                        </div>
                    </td>
                    <td id="quantity">1</td>
                    <td id="unit">100.000<u>đ</u></td>
                    <td id="price">100.000<u>đ</u></td>
                </tr>
            </table>
            <hr>
            <div class="temp-price">
                <span id="title">Tạm tính</span>
                <span id="number">100.000<u>đ</u></span>
            </div>
            <div class="sale-price">
                <span id="title">Đã giảm</span>
                <span id="number">100.000<u>đ</u></span>
            </div>
            <div class="delivery-price">
                <span id="title">Phí vận chuyển</span>
                <span id="number">100.000<u>đ</u></span>
            </div>
            <hr>
            <div class="totle-price text-uppercase font-weight-bold">
                <span id="title">Tổng tiền</span>
                <span id="number">100.000<u>đ</u></span>
            </div>
        </div>
    </div>
</div>
<script  type="module" src="/js/checkout.js"></script>