 <div class="clientBody">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/ao-tre-trau.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../img/giay-tre-trau.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="../img/mu-tre-trau.jpg" alt="">
            </div>
        </div>
        {{!-- <div class="swiper-button-next"> --}}
            <img src="../img/navigation_next.png" alt="" class="swiper-button-next">
        {{!-- </div> --}}
        <img src="../img/navigation_next.png" alt="" class="swiper-button-prev">
        <div class="swiper-pagination"></div>
    </div>
 </div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../js/client.js"></script>
