 <div class="clientBody">
    <div class="swiper mySwiper carousel-event">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../img/summer-sale.jpg" alt="" class="img-carousel">
            </div>
            <div class="swiper-slide">
                <img src="../img/new-collection.jpg" alt="" class="img-carousel">
            </div>
            <div class="swiper-slide">
                <img src="../img/summer-collection.jpg" alt="" class="img-carousel"> 
            </div>
        </div>
        {{!-- <div class="swiper-button-next"> --}}
            <img src="../img/navigation_next.png" alt="" class="swiper-button-next">
        {{!-- </div> --}}
        <img src="../img/navigation_next.png" alt="" class="swiper-button-prev">
        <div class="swiper-pagination"></div>
    </div>
    <div class="newPro__logo">
        <img src="../img/newPro__logo.png" alt="">
        <span>SẢN PHẨM NỔI BẬT</span>
    </div>

    <div class="grid">
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                               <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
                <div class="slideDownBg">
                      <img src="../img/ao-tre-trau.jpg" alt="">
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/ao-tre-trau.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                             <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/mu-tre-trau.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                        <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
                
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
        {{!-- Bắt đầu 1 khuôn sản phẩm --}}
        <div class="grid__item">
            <div class="product">
                <div class="product__avatar">
                    <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                </div>
                <div class="product__detail">
                    <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                    <div class="product_detail--sub2">
                        <div class="product_detail--price">
                            <span class="new__price">300.000đ</span>
                            <span class="old__price">420.000đ</span>
                        </div>
                            
                                 <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Kết thúc 1 khuôn sản phẩm --}}
         <div class="sale_logo">
             <img src="../img/sale_logo.png" alt="">
             <span>KHUYẾN MÃI</span>
         </div>
        <div class="sale__product">
            <div class="swiper sale_product--swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                     <div class="swiper-slide sale_product--item">
                    {{!-- Bắt đầu 1 khuôn sản phẩm --}}
                    <div class="grid__item-sale">
                        <div class="product">
                            <div class="product__avatar">
                                <img src="../img/sp1.jpg" alt="" class="product__avatar--img">
                            </div>
                            <div class="product__detail">
                                <span class="product_detail--sub1">Test Độ Dài Của Sản Phẩm Xem Thế Nào</span>
                                <div class="product_detail--sub2">
                                    <div class="product_detail--price">
                                        <span class="new__price">300.000đ</span>
                                        <span class="old__price">420.000đ</span>
                                    </div>
                                        
                                            <span class="appreciate"><i class="fas fa-star"></i> <span class="appreciate__value">4.2/5</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Kết thúc 1 khuôn sản phẩm --}}
                    </div>
                    
                </div>
                {{!-- <div class="swiper-button-next"> --}}
                <img src="../img/navigation_next_sale.png" alt="" class="swiper-button-next">
                {{!-- </div> --}}
                <img src="../img/navigation_next_sale.png" alt="" class="swiper-button-prev">
                <div class="swiper-pagination"></div>
        </div>
        </div>
       
    </div>
 </div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../js/client.js"></script>
