<div class="loader_box">

  <ul class="loader">
    <li>L</li>
    <li>Y</li>
    <li>A</li>
    <li>F</li>
  </ul>
   <div class="table_2 table3">
                        <div class="loader_2">
                            <span class="item2" style="--i:1"></span>
                            <span class="item2" style="--i:2"></span>
                            <span class="item2" style="--i:3"></span>
                            <span class="item2" style="--i:4"></span>
                            <span class="item2" style="--i:5;"></span>
                            <span class="item2" style="--i:6;"></span>
                            <span class="item2" style="--i:7;"></span>
                            <span class="item2" style="--i:8;"></span>
                            <span class="item2" style="--i:8;"></span>
                            <span class="item2" style="--i:9;"></span>
                            <span class="item2" style="--i:10;"></span>
                            <span class="item2" style="--i:11;"></span>
                            <span class="item2" style="--i:12;"></span>
                            <span class="item2" style="--i:13;"></span>
                            <span class="item2" style="--i:14;"></span>
                            <span class="item2" style="--i:15;"></span>
                            <span class="item2" style="--i:16;"></span>
                            <span class="item2" style="--i:17;"></span>
                            <span class="item2" style="--i:18;"></span>
                            <span class="item2" style="--i:19;"></span>
                            <span class="item2" style="--i:20;"></span>
                        </div>
                    </div>
</div>
<script src="./js/side.js"></script>