<link rel="stylesheet" href="/css/productCollection.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.css" integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
            <li class="breadcrumb-item active" aria-current="page">Áo thun</li>
        </ol>
    </nav>
</div>
<div class="LYAF-collection-wrapper">
    <div class="LYAF-collection-filter">
        <section>
            <!-- Section: Filters -->
            <section id="filters" data-auto-filter="true">
                <h4>Filters</h4>
                <hr>
                <!-- Section: Condition -->
                <section class="mb-4" data-filter="search">
                    <h6 class="font-weight-bold mb-3">Search Name</h6>

                    <div class="form-check mb-3">
                        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword...">
                    </div>
                </section>

                <!-- Section: Condition -->
                <section class="mb-4" data-filter="condition">
                    <h6 class="font-weight-bold mb-3">Condition</h6>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="new" name="condition" id="condition-checkbox">
                        <label class="form-check-label text-uppercase small text-muted" for="condition-checkbox">
                        Sản phẩm mới
                        </label>
                    </div>

                    <div class="form-check mb-  ">
                        <input class="form-check-input" type="checkbox" value="sale" name="condition" id="condition-checkbox2">
                        <label class="form-check-label text-uppercase small text-muted" for="condition-checkbox2">
                        Khuyến mãi
                        </label>
                    </div>
                </section>
                <!-- Section: Condition -->

                <!-- Section: Avg. Customer Review -->
                <section class="mb-4">
                <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>
                    <div class="" id="rating">
                        <span class="star-1" data-id="1"><i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="1"></i></span>
                        <span class="star-2" data-id="2"><i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="2"></i></span>
                        <span class="star-3" data-id="3"><i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="3"></i></span>
                        <span class="star-4" data-id="4"><i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="4"></i></span>
                        <span class="star-5" data-id="5"><i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="5"></i></span>
                    </div>
                </section>
                <!-- Section: Avg. Customer Review -->

                <!-- Section: Price -->
                <section class="mb-4">
                <h6 class="font-weight-bold mb-3">Price</h6>

                <div class="price-selecter">

                </div>
                </section>
            </section>
            <!-- Section: Filters -->
        </section>
                <hr>
        <button type="button" class="btn btn-primary collection-search">Search</button>
    </div>
    <div class="LYAF-collection-products-wrapper">
        <div class="LYAF-collection-product-sort">
            <div class="LYAF-sort-section">
                <label for="LYAF-form-sort">Sort</label>
                <select name="sort" id="LYAF-form-sort">
                    <option>Tất cả</option>
                    <option>Giá từ cao đến thấp</option>
                    <option>Giá từ thấp đến cao</option>
                    <option>Tên từ a đến z</option>
                    <option>Tên từ z đến a</option>
                    <option>Đánh giá từ cao đến thấp</option>
                    <option>Đánh giá từ thấp đến cao</option>
                </select>
            </div>
        </div>
        <div class="LYAF-products-container">
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1004-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1004-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1004-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1004-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay ChillÁo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-pagination">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js" integrity="sha512-igVQ7hyQVijOUlfg3OmcTZLwYJIBXU63xL9RC12xBHNpmGJAktDnzl9Iw0J4yrSaQtDxTTVlwhY730vphoVqJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js" integrity="sha512-ZKqmaRVpwWCw7S7mEjC89jDdWRD/oMS0mlfH96mO0u3wrPYoN+lXmqvyptH4P9mY6zkoPTSy5U2SwKVXRY5tYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/collection.js"></script>