<link rel="stylesheet" href="/css/productCollection.css">
<div id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
            <li class="breadcrumb-item active" aria-current="page">Áo thun</li>
        </ol>
    </nav>
</div>
<div class="LYAF-collection-wrapper">
    <div class="LYAF-collection-filter">
        <section>
            <!-- Section: Filters -->
            <section id="filters" data-auto-filter="true">
                <h5>Filters</h5>

                <!-- Section: Condition -->
                <section class="mb-4" data-filter="condition">
                    <h6 class="font-weight-bold mb-3">Condition</h6>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="new" id="condition-checkbox">
                        <label class="form-check-label text-uppercase small text-muted" for="condition-checkbox">
                        Sản phẩm mới
                        </label>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="used" id="condition-checkbox2">
                        <label class="form-check-label text-uppercase small text-muted" for="condition-checkbox2">
                        Khuyến mãi
                        </label>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="collectible" id="condition-checkbox3">
                        <label class="form-check-label text-uppercase small text-muted" for="condition-checkbox3">
                        Bán chạy
                        </label>
                    </div>
                </section>
                <!-- Section: Condition -->

                <!-- Section: Avg. Customer Review -->
                <section class="mb-4">
                <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>
                    <div class="" id="rating">
                        <i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="1"></i>
                        <i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="2"></i>
                        <i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="3"></i>
                        <i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="4"></i>
                        <i class="fa-star fa-sm text-primary far" title="" data-toggle="tooltip" data-original-title="5"></i>
                    </div>
                </section>
                <!-- Section: Avg. Customer Review -->

                <!-- Section: Price -->
                <section class="mb-4">
                <h6 class="font-weight-bold mb-3">Price</h6>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="price-radio">
                    <label class="form-check-label text-uppercase small text-muted" for="price-radio">
                    Under $25
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="price-radio2">
                    <label class="form-check-label text-uppercase small text-muted" for="price-radio2">
                    $25 to $50
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="price-radio3">
                    <label class="form-check-label text-uppercase small text-muted" for="price-radio3">
                    $50 to $100
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="price-radio4">
                    <label class="form-check-label text-uppercase small text-muted" for="price-radio4">
                    $100 to $200
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="price-radio5">
                    <label class="form-check-label text-uppercase small text-muted" for="price-radio5">
                    $200 &amp; above
                    </label>
                </div>
                </section>
                <!-- Section: Price -->

                <!-- Section: Size -->
                <section class="mb-4" data-filter="size">
                <h6 class="font-weight-bold mb-3">Size</h6>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="34" id="price-checkbox">
                    <label class="form-check-label text-uppercase small text-muted" for="price-checkbox">
                    34
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="36" id="price-checkbox2">
                    <label class="form-check-label text-uppercase small text-muted" for="price-checkbox2">
                    36
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="38" id="price-checkbox3">
                    <label class="form-check-label text-uppercase small text-muted" for="price-checkbox3">
                    38
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="40" id="price-checkbox4">
                    <label class="form-check-label text-uppercase small text-muted" for="price-checkbox4">
                    40
                    </label>
                </div>
                </section>
                <!-- Section: Size -->

                <!-- Section: Color -->
                <section class="mb-4" data-filter="color">
                <h6 class="font-weight-bold mb-3">Color</h6>

                <div class="form-check form-check-inline m-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio1" value="white">
                    <label class="btn bg-light btn-rounded p-3" for="colorRadio1"></label>
                </div>

                <div class="form-check form-check-inline m-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio2" value="grey">
                    <label class="btn btn-rounded p-3" for="colorRadio2" style="background-color: #bdbdbd"></label>
                </div>

                <div class="form-check form-check-inline m-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio3" value="black">
                    <label class="btn bg-dark text-white btn-rounded p-3" for="colorRadio3"></label>
                </div>

                <div class="form-check form-check-inline m-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio5" value="blue">
                    <label class="btn bg-primary btn-rounded p-3" for="colorRadio5"></label>
                </div>

                <div class="form-check form-check-inline mt-3 mr-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio9" value="red">
                    <label class="btn bg-danger btn-rounded p-3" for="colorRadio9"></label>
                </div>

                <div class="form-check form-check-inline mt-3 mr-0 p-0 pr-3">
                    <input class="btn-check" type="radio" name="colorRadio" id="colorRadio10" value="orange">
                    <label class="btn bg-warning btn-rounded p-3" for="colorRadio10"></label>
                </div>
                </section>
                <!-- Section: Color -->
            </section>
            <!-- Section: Filters -->
        </section>
    </div>
    <div class="LYAF-collection-products-wrapper">
        <div class="LYAF-collection-product-sort">
            <div class="LYAF-sort-section">
                <label for="LYAF-form-sort">Sort</label>
                <select name="sort" id="LYAF-form-sort">
                    <option>Tất cả</option>
                    <option>Giá từ cao đến thấp</option>
                    <option>Giá từ thấp đến cao</option>
                    <option>Tên từ a đến z</option>
                    <option>Tên từ z đến a</option>
                    <option>Đánh giá từ cao đến thấp</option>
                    <option>Đánh giá từ thấp đến cao</option>
                </select>
            </div>
        </div>
        <div class="LYAF-products-container">
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1004-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1004-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1004-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1004-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Thun BOUTON Bear</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
            <div class="LYAF-product-component">
                <div class="LYAF-product-thumbnails">
                    <img src="/img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                    <img src="/img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
                </div>
                <div class="LYAF-product-info">
                    <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                    <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay ChillÁo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                    <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                    <div id="rating">
                        <div class="rating-stars">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star-half-alt"></i></span>
                        </div>
                        <div class="rating-value">
                            4.5/5
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-pagination">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>