{{!-- IMAGE GALLERY https://www.jqueryscript.net/gallery/Feature-rich-Product-Gallery-With-Image-Zoom-xZoom.html  --}}
{{!-- Thêm croper --}}
<div class="detail__wrapper">
    <div class="aaaa"></div>
    <div class="detail__img">
        <div class="detail__img--main">
            <img src="../img/ANS1001-color-caro-yellow.jpg" alt="">
        </div>

        <div class="detail__img--sub">

        </div>
    </div>
    <div class="detail__info">
        <div class="detail__info--name">
            <span>Áo Sơ Mi Caro</span>
        </div>
        <div class="detail__info--price-rating">

        <div class="detail__info--price">
            <span class="new_price">300.000đ</span>
            <span class="old_price">420.000đ</span>
        </div>
        <div class="detail__info--rating">
            <span class="detail__info--rating-1">Đánh giá:</span>
            <span class="detail__info--rating-2">4.6 /5</span>
        </div>
        </div>
        <div class="detail__info--color">
            <span>Màu sắc</span>
            <div class="detail__info--color-detail"> 
                 <div class="detail__info--color-detail-item" id="color-caro-yellow">
                     <img  class="detail__info--color-item-img" src="../img/color-caro-yellow.jpg" alt="">
                     <div class="detail__info--color-item-p">Trắng đen vàng</div>
                 </div>
                 <div class="detail__info--color-detail-item" id="color-caro-black">
                     <img  class="detail__info--color-item-img" src="../img/color-caro-black.jpg" alt="">
                     <div class="detail__info--color-item-p">Đen</div>
                 </div>
            </div>
        </div>

        <div class="detail__info--size">
            <span>Size</span>
            <div class="detail__info--size-detail">
                <div class="detail__info--size-item">
                    <span>M</span>
                </div>
                <div class="detail__info--size-item">
                    <span>L</span>
                </div>
                <div class="detail__info--size-item">
                    <span>XL</span>
                </div>
                <div class="detail__info--size-item">
                    <span>XXL</span>
                </div>
                   <div class="detail__info--size-item">
                    <span>XXXL</span>
                </div>
            </div>
        </div>

        <div class="detail__info--amount">
            <span>Số lượng</span>
            <input type="number" name="detail__info--amount-value" id="detail__info--amount-value" value="1">
        </div>

        <div class="detail__submit">
            <span class="detail__submit--btn">Đặt Hàng Ngay</span>
        </div>

    </div>
</div>
<script src="../js/productDetail.js"></script>