<link rel="stylesheet" href="../css/productCollection.css">
<div class="LYAF-collection-container">
    <div class="LYAF-collection-header">
        <div id="title" class="text-uppercase">
            <h2>Áo thun</h2>
        </div>
        <div id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Áo thun</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="LYAF-collection-filter">
    </div>
    <div class="LYAF-collection-wrapper">
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Thun BOUTON Bear</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Thun BOUTON Bear</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Thun BOUTON Bear</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Thun BOUTON Bear</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1001-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1001-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Thun BOUTON Bear</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
        <div class="LYAF-product-component">
            <div class="LYAF-product-thumbnails">
                <img src="../img/ATNS1002-1.jpg" alt="" id="main-thumbnail">
                <img src="../img/ATNS1002-2.jpg" alt="" id="second-thumbnail">
            </div>
            <div class="LYAF-product-info">
                <div id="price"><span id="true-price">250.000 VND</span><span class="d-none" id="sale-price">350.000 VND</span></div>
                <div id="name">Áo Nỉ (Sweatshirt) BOUTON Stay ChillÁo Nỉ (Sweatshirt) BOUTON Stay Chill</div>
                <div id="category"><a href="#" id="parent">Áo</a>, <a href="#" id="child">Áo thun</a></div>
                <div id="rating">
                    <div class="rating-start">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                    <div class="rating-value">
                        4.5/5
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LYAF-collection-pagination">
         <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>