<div class="profile_body">
    <div class="profile_menu">
        <div class="profile_intro">
                <span id="profile_intro-name">An Nguyễn</span>
                <span id="profile_intro-role">Thành viên</span>
            </div>
        <div class="profile_menu-detail">
            <div class="profile_menu-item" id="userInfo"><span>Hồ sơ của tôi</span></div>
            <div class="profile_menu-item focus-item" id="proStatus"><span><i class="fas fa-caret-square-left"></i><span id="return-proStatus">Quay lại danh sách đơn hàng</span></span></div>
            <div class="profile_menu-item" id="changePass"><span>Đổi mật khẩu</span></div>
            <div class="profile_menu-item" id="Logout"><span>Đăng xuất</span></div>
        </div>
    </div>
    <div class="userStatus">
        <div class="userStatus-name">
            <span>Mã đơn hàng: DH02045</span>
        </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Quần jeans Slim</td>
                <td>JEANSSLIM</td>
                <td>160.000đ</td>
                <td>2</td>
                <td>320.000đ</td>
                </tr>
                <tr>
                <td>Áo Hoodie xám tay dài</td>
                <td>HOODIEGRAY</td>
                <td>200.000đ</td>
                <td>1</td>
                <td>200.000đ</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="/js/userInfo.js"></script>