<div class="LYAF-dashboard-header">
    <span class="text-uppercase font-weight-bold">BILL LIST</span>
</div>
<div class="LYAF-dashboard-content">
    <div class="bills-content-container">
        <div class="bill-header">

        </div>
        <table id="bill-list" class="table-striped dt-responsive nowrap"  style="width:100%">
        </table>
    </div>
</div>
<script src="/js/module/dashboard/BillList.js"></script>