<div class="profile_body">
    <div class="profile_menu">
        <div class="profile_intro">
                <span id="profile_intro-name">An Nguyễn</span>
                <span id="profile_intro-role">Thành viên</span>
            </div>
        <div class="profile_menu-detail">
            <div class="profile_menu-item"><span>Hồ sơ của tôi</span></div>
            <div class="profile_menu-item"><span>Tình trạng đơn hàng</span></div>
            <div class="profile_menu-item"><span>Đổi mật khẩu</span></div>
            <div class="profile_menu-item"><span>Đăng xuất</span></div>
        </div>
    </div>
    <div class="profile_info">
        <div class="profile_info-name">
            <span>Thông tin về tôi</span>
        </div>
        <form class="profile_info-detail">
            <div class="form-group">
                <label for="profilename">Họ và tên</label>
                <input type="profilename" class="form-control" id="profilename">
            </div>
            <div class="form-group">
                <label for="profilemail">Email</label>
                <input type="profilemail" class="form-control" id="profilemail">
            </div>
            <div class="form-group">
                <label for="profilphone">Số điện thoại</label>
                <input type="profilephone" class="form-control" id="profilephone">
            </div>
            <div class="form-check">
                <label for="gender">Giới tính</label>
             </div>
             <div class="form-check genderBox">
                 <div id="gender_male">
                    <input class="form-check-input position-static" type="radio" name="gender" id="male" value="Nam">
                    <span>Nam</span>
                 </div>
             
                <div id="gender_female">
                    <input class="form-check-input position-static" type="radio" name="gender" id="female" value="Nữ">
                    <span>Nữ</span>
                </div>
                
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>